#root {
  height: 100vh;
  background-color: rgb(230, 151, 3);
}

/* Animations: */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Elements selector: */
h1 {
  font-size: 64px;
  color: #e69703;
}

h4 {
  font-size: xx-large;
  color: rgb(230, 151, 3);
}

/* Classes selectors: */
.App {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ClockContainer {
  height: 500px;
  width: 500px;
}

.ClockTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ff77;
  height: 25%;
  font-family: 'Brush Script MT', cursive;
}

.ClockConfig {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f9a1d7;
  height: 25%;
}

.ClockTimer {
  display: flex;
  flex-direction: column;
  background-color: rgb(21, 227, 55);
  height: 35%;
}

.ClockActions {
  display: flex;
  justify-content: center;
  background-color: #00ff77;
  height: 15%;
}

.BreakLength, .SessionLength {
  flex-direction: column;
  display: flex;
  width: 30%;
  background-color: rgb(21, 227, 117);
} 

.Adjustments {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.BreakTitle, .SessionTitle {
  margin: 10% 0;
}

.Length {
  margin: 5% 0;
}

.ArrowButton {
  margin: auto;
  color: #e6cc03;
}

.ArrowIcon {
  font-size: xxx-large;
  animation: blink 2s infinite;
}

.ClockTimerTitle {
  margin: 5% 0 0 0;
}

.ClockTimerTime {
  margin: 0;
}

.ClockActionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-top: 5%;
  width: 30%;
}

.ActionIcon {
  font-size: x-large;
  color: #e6cc03;
  margin: 0 5%;
  animation: blink 2s infinite;
}